---
import Layout from "../../layouts/Layout.astro";
import { wpquery } from "../../data/wordpress";
// import TitleAndNav from "../components/TitleAndNav";
import ProgramList from "../../components/ProgramList";
import NextStepFooter from "../../components/NextStepFooter";
import "@fontsource/domine/400.css";
import "@fontsource/domine/500.css";
import "@fontsource/domine/600.css";
import "@fontsource/domine/700.css";
// import IntroSection from "../../components/IntroSection";
import IntroSectionUpdated from "../../components/IntroSectionUpdated";
// import "../styles/homepage.scss";
const data = await wpquery({
  query: ` query GraduateProgramsListing {
  graduatePrograms(first:220) {
    nodes {
      program {
        degreeType
        slug
        school
        programOptions
        additionalOptions
        keywords
      }
      title
    }
  }
}`,
});
// const tempGradData = data.graduatePrograms.nodes;

const programOptions = await wpquery({
  query: ` query GradProgramOptions {
  page(idType: DATABASE_ID, id: "4015") {
    graduateProgram {
      additionalOptions
      programOptions
      school
    }
  }
}`,
});

const areaOfStudy = programOptions.page.graduateProgram.school.sort();

const programOptionsClean = programOptions.page.graduateProgram.programOptions;
const additionalOptions = programOptions.page.graduateProgram.additionalOptions;
---

<Layout title="Explore Programs - TCNJ Graduate Studies">
  <header>
    <!-- <TitleAndNav /> -->
    <IntroSectionUpdated client:load />
    <!-- <Intro /> -->
  </header>
  <main>
    <div
      class="border-[20px] sm:border-[35px] border-t-0 sm:border-t-0 border-tcnjyellow"
    >
      <ProgramList
        gradCheck={true}
        data={data}
        redirectData={data}
        areaOfStudy={areaOfStudy}
        programOptionsClean={programOptionsClean}
        additionalOptions={additionalOptions}
        client:visible
      />
    </div>
    <NextStepFooter customCtaButtons={null} />
  </main>
</Layout>
