---
import Layout from "../../layouts/Layout.astro";
import { wpquery } from "../../data/wordpress";
// import TitleAndNav from "../components/TitleAndNav";
import ProgramList from "../../components/ProgramList";
import NextStepFooter from "../../components/NextStepFooter";
import "@fontsource/domine/400.css";
import "@fontsource/domine/500.css";
import "@fontsource/domine/600.css";
import "@fontsource/domine/700.css";
import IntroSection from "../../components/IntroSection";
// import "../styles/homepage.scss";
const data = await wpquery({
  query: ` query GraduateProgramsListing {
  graduatePrograms(first:220) {
    nodes {
      program {
        degreeType
        slug
        school
        programOptions
        additionalOptions
        keywords
      }
      title
    }
  }
}`,
});
console.log(data.graduatePrograms.nodes);
const tempGradData = data.graduatePrograms.nodes;

const programOptions = await wpquery({
  query: ` query GradProgramOptions {
  page(idType: DATABASE_ID, id: "4015") {
    graduateProgram {
      formatOptions
      programOptions
      school
    }
  }
}`,
});
console.log(programOptions);
// console.log(data);
// console.log(data.programs.program);
// console.log(JSON.stringify(data.programs.nodes, null, 2)); // Log the entire list
// console.log(JSON.stringify(programOptions.page.program, null, 2)); // Log the entire list

const areaOfStudy = programOptions.page.program.school.sort();
console.log(areaOfStudy);

const programOptionsClean = programOptions.page.program.programOptions;
// console.log(programOptionsClean);
const additionalOptions = programOptions.page.program.additionalOptions;
---

<Layout title="160+ Undergraduate Programs | TCNJ">
  <header>
    <!-- <TitleAndNav /> -->
    <IntroSection client:load />
    <!-- <Intro /> -->
  </header>
  <main>
    <div
      class="border-[20px] sm:border-[35px] border-t-0 sm:border-t-0 border-tcnjyellow"
    >
      <p>Grad Program finder here</p>
      {
        tempGradData.map(
          (program: {
            program: {
              slug: unknown;
              degreeType: unknown;
              school: unknown;
              keywords: unknown;
            };
            title: unknown;
          }) => (
            <div class="text-left pt-[25px]">
              <h2 class="text-1xl font-bold">
                <a href={"/graduate/" + program.program.slug}>
                  {program.title}
                </a>
              </h2>
              <p>{program.program.degreeType}</p>
              <p>{program.program.school}</p>
              <p>{program.program.slug}</p>
              <p>{program.program.keywords}</p>
            </div>
          )
        )
      }
    </div>
    <NextStepFooter />
  </main>
</Layout>
