---
import Layout from "../layouts/Layout.astro";
import { wpquery } from "../data/wordpress";
import BodyCopy from "../components/BodyCopy.astro";

export async function getStaticPaths() {
  const data = await wpquery({
    query: ` query ProgramsListing {
              programs {
                nodes {
                  program {
                    degreeType
                    slug
                    school
                    programOptions
                    additionalOptions
                    programAtAGlance
                    department {
                        deptTitle
                        deptUrl
                    }
                    careers{
                        left
                        right
                        body
                    }
                    learnMoreList {
                      title
                      slug
                    }
                  }
                  title
                }
              }
            }`,
  });
  const paths = data.programs.nodes.map(
    (program: {
      program: {
        [x: string]: any;
        slug: any;
      };
      title: any;
    }) => ({
      params: { slug: program.program.slug },
      props: {
        content: program.program,
        slug: program.program.slug,
        title: program.title,
        atAGlance: program.program.programAtAGlance,
        degreeType: program.program.degreeType,
        school: program.program.school,
        department: program.program.department,
        careers: program.program.careers,
      },
    })
  );
  return paths;
}
const {
  title,
  body,
  slug,
  atAGlance,
  degreeType,
  school,
  department: { deptUrl, deptTitle },
  content,
  careers: { left: careersLeft, right: careersRight, body: careersBody },
} = Astro.props;
// console.log(department);
---

<Layout title={title}>
  <main>
    <h1>
      {title}
    </h1>
    <div id="program-at-a-glance">
      <h2>Program at a Glance</h2>
      <div set:html={atAGlance} />
    </div>
    <div id="degree-school-department">
      <div>
        <h3>Degree</h3>
        <p>{degreeType} in {title}</p>
      </div>
      <div>
        <h3>School</h3>
        <p set:html={school} />
      </div>

      <div>
        <h3>Department</h3>
        <p>
          <a href={deptUrl}>
            {deptTitle}
          </a>
        </p>
      </div>
    </div>
    <BodyCopy
      heading="Careers"
      left={careersLeft}
      right={careersRight}
      body={careersBody}
    />
  </main>
</Layout>
