---
import Layout from "../layouts/Layout.astro";
import { wpquery } from "../data/wordpress";
import BodyCopy from "../components/BodyCopy.astro";
import LowerContent from "../components/LowerContent.astro";
import LearnMoreList from "../components/LearnMoreList.astro";
import TopOption from "../components/TopOption.astro";
import ProgramCareersHeading from "../components/ProgramCareersHeading";
import ProgramGlanceCopy from "../components/ProgramGlanceCopy";
import "../styles/inner-body-copy.scss";

export async function getStaticPaths() {
  const data = await wpquery({
    query: `query ProgramsListing {
  programs {
    nodes {
      program {
        fullProgramTitle
        degreeType
        slug
        school
        programOptions
        additionalOptions
        programAtAGlance
        heroImgDesktop {
          sourceUrl
        }
        department {
          deptTitle
          deptUrl
        }
        careers {
          left
          right
          body
        }
        programOfStudy {
          left
          rightImage {
            sourceUrl
          }
          body
        }
        lowerContent {
          title
          body
        }
        learnMoreList {
          title
          slug
        }
      }
      title
    }
  }
}`,
  });
  // console.log(data.programs.nodes[0].program.heroImgDesktop.sourceUrl);
  const paths = data.programs.nodes.map(
    (program: {
      program: {
        title: string;
        programAtAGlance: string;
        degreeType: string;
        school: string;
        department: string;
        heroImgDesktop: string;
        careers: string;
        programOfStudy: string;
        lowerContent: [];
        learnMoreList: [];
        slug: string;
      };
      title: string;
    }) => ({
      params: { slug: program.program.slug },
      props: {
        slug: program.program.slug,
        title: program.title,
        programAtAGlance: program.program.programAtAGlance,

        degreeType: program.program.degreeType,
        school: program.program.school,
        department: program.program.department,
        heroImgDesktop: program.program.heroImgDesktop,
        careers: program.program.careers,
        programOfStudy: program.program.programOfStudy,
        lowerContent: program.program.lowerContent,
        learnMoreList: program.program.learnMoreList,
      },
    })
  );
  return paths;
}
const {
  title,
  body,
  slug,
  programAtAGlance,
  degreeType,
  school,
  department: { deptUrl, deptTitle },
  // heroImgDesktop: { sourceUrl },
  // heroImgDesktop: { sourceUrl } = {
  //   sourceUrl:
  //     "https://ceva6.tcnj.edu/wp-content/uploads/sites/9/2024/02/anthro-hero-scaled.jpg",
  // },
  heroImgDesktop,

  content,
  careers: { left: careersLeft, right: careersRight, body: careersBody },
  programOfStudy: {
    left: programOfStudyLeft,
    // rightImage: { sourceUrl: programOfStudyRight },
    rightImage: { sourceUrl: programOfStudyRight } = {
      sourceUrl:
        "https://ceva6.tcnj.edu/wp-content/uploads/sites/9/2024/02/anthro-body-image.jpg",
    },
    body: programOfStudyBody,
  },

  lowerContent,
  learnMoreList,
} = Astro.props;
// console.log(typeof lowerContent);
const { sourceUrl } = heroImgDesktop ?? {
  sourceUrl: "",
};
// const {programOfStudyLeft} = programOfStudy ?? {
//   programOfStudyLeft: "",
// };
// const {programOfStudyRight} = programOfStudy ?? {
//   sourceUrl: "https://ceva6.tcnj.edu/wp-content/uploads/sites/9/2024/02/anthro-body-image.jpg",
// };
// const {programOfStudyBody} = programOfStudy ?? {
//   programOfStudyBody: "",
// };
---

<Layout title={title}>
  <main class="font-bitter text-darkgrey">
    <div class="bg-tcnjyellow w-auto">
      <div
        class="pl-[35px]
      pr-[35px]
      max-w-[70.5rem]
      pt-[35px]
      sm:pt-[50px]
      m-auto"
      >
        <p class="text-[17px] leading-[26px] pb-[20px] font-bitter">
          Academics Home / Explore Programs / <span class="font-bold">
            {title}
          </span>
        </p>
        <h1
          class="font-chunkfive
          text-tcnjblue
          text-[45px]
          leading-[50px]
          sm:text-[60px]
          sm:leading-[60px]
         
          lg:text-custom-16.25
          lg:leading-[4.688rem]"
        >
          {title}
        </h1>
      </div>
      <div
        class="w-auto bg-yellowWhiteGradient
      mt-[35px]
      lg:mt-[50px]"
      >
        {
          sourceUrl && (
            <img
              src={sourceUrl}
              class="
              h-[450px]
              sm:h-[600px]
              object-cover
              pl-[35px]
              lg:pl-[200px]
              lg:h-auto
              "
              alt={title}
            />
          )
        }
      </div>
    </div>
    <div
      class="bg-white
    w-auto
    pt-[45px]
    pb-[45px]
    sm:pt-[35px]
    sm:pb-[35px]
    pl-[35px]
    pr-[35px]
    lg:pt-[50px]
    lg:pb-[50px]"
    >
      <div class="max-w-[70.5rem] bg-white m-auto">
        <div
          id="degree-school-department"
          class="flex
          text-lg
          flex-col
          gap-[35px]
          sm:max-w-[655px]
          sm:m-auto
          sm:flex-row
          sm:flex-nowrap
          sm:items-center
          sm:justify-between"
        >
          <TopOption heading="Degree" imgSrc="ribbon">
            {degreeType} in {title}
          </TopOption>
          <TopOption heading="School" imgSrc="building">
            {school}
          </TopOption>
          <TopOption heading="Department" imgSrc="calendar">
            {deptTitle}
          </TopOption>
        </div>
      </div>
    </div>
    <div
      class="bg-tcnjyellow w-auto
    pl-[35px]
    pr-[35px]
    sm:pl-[82px]
    sm:pr-[82px]"
    >
      <div class="max-w-[70.5rem] m-auto">
        <div
          id="program-at-a-glance"
          class="text-left
        pb-[150px]
        pt-[100px]
        sm:pb-[200px]
        md:pb-[200px]
        md:pt-[200px]"
        >
          <ProgramCareersHeading heading="Program at a Glance" />
          <!-- <h2>Program at a Glance</h2> -->
          <ProgramGlanceCopy id="program-glance" copy={programAtAGlance} />
          <!-- <div
            class="text-[20px]
          leading-[35px]
          text-center
          sm:text-left
          md:text-[1.75rem]"
            set:html={programAtAGlance}
          /> -->
          <div
            class="flex
            flex-col
            gap-[20px]
          sm:flex-row
            sm:mt-[75px]
          sm:gap-[28px]
          md:gap-5
          md:flex-row
          mt-[50px]"
          >
            <a
              href=""
              class="border-2
              border-tcnjblue
              p-4
              pt-[40px]
              pb-[40px]
              sm:w-[100%]
              
              md:min-w-[300px]
              text-center
              font-opensans
              uppercase text-tcnjblue
              font-semibold
              text-base"
              >Apply</a
            >
            <a
              href=""
              class="border-2
              border-tcnjblue
              p-4
              pt-[40px]
              pb-[40px]
              sm:w-[100%]
              md:min-w-[300px]
              text-center
              font-opensans
              uppercase text-tcnjblue
              font-semibold
              text-base"
              >Request Info</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="px-[35px] w-auto sm:bg-tcnjyellow">
      <div
        class="m-auto
      bg-white
      relative
      pb-[75px]
      sm:pl-[47px]
      sm:pr-[47px]"
      >
        <img
          src={programOfStudyRight}
          alt=""
          id="prog-study-img"
          class="relative
          top-[-50px]
          object-cover
          object-left
          w-[100%]
          h-[400px]
          sm:h-[550px]
          sm:top-[-75px]
          max-w-none
         
          md:h-[650px]
          md:absolute
          lg:max-w-[1280px]
          lg:h-[750px]
          lg:w-[51%]"
        />
        <div
          class="max-w-[70.5rem]
        m-auto
        bg-white
        pt-[0px]
        sm:pt-[0]
        sm:pb-[15px]
        md:pt-[150px]
        md:pb-[150px]"
        >
          <BodyCopy
            heading="Programs of Study"
            left={programOfStudyLeft}
            body={programOfStudyBody}
          />
        </div>
      </div>
    </div>
    <div class="px-[35px] m-auto bg-tcnjyellow">
      <div
        class="max-w-[70.5rem] m-auto
      pt-[100px]
      sm:pt-[100px]
      md:pt-[150px]"
      >
        <BodyCopy
          heading="Careers"
          left={careersLeft}
          right={careersRight}
          body={careersBody}
        />
      </div>
    </div>
    <div class="px-[35px] w-auto sm:bg-tcnjyellow">
      <div class="m-auto bg-white">
        <div class="max-w-[70.5rem] m-auto">
          {lowerContent && <LowerContent lowerContent={lowerContent} />}
          {learnMoreList && <LearnMoreList learnMoreList={learnMoreList} />}
        </div>
      </div>
    </div>
  </main>
</Layout>
