---
import Layout from "../layouts/Layout.astro";
import { wpquery } from "../data/wordpress";
import BodyCopy from "../components/BodyCopy.astro";
import LowerContent from "../components/LowerContent.astro";
import LearnMoreList from "../components/LearnMoreList.astro";
import TopOption from "../components/TopOption.astro";

export async function getStaticPaths() {
  const data = await wpquery({
    query: ` query ProgramsListing {
              programs {
                nodes {
                  program {
                    degreeType
                    slug
                    school
                    programOptions
                    additionalOptions
                    programAtAGlance
                    department {
                        deptTitle
                        deptUrl
                    }
                    careers{
                        left
                        right
                        body
                    }
                    programOfStudy{
                      left
                      right
                      body
                    }
                    lowerContent{
                      title
                      body
                    }
                    learnMoreList {
                      title
                      slug
                    }
                  }
                  title
                }
              }
            }`,
  });
  const paths = data.programs.nodes.map(
    (program: {
      program: {
        title: string;
        programAtAGlance: string;
        degreeType: string;
        school: string;
        department: string;
        careers: string;
        programOfStudy: string;
        lowerContent: [];
        learnMoreList: [];
        slug: string;
      };
      title: string;
    }) => ({
      params: { slug: program.program.slug },
      props: {
        slug: program.program.slug,
        title: program.title,
        programAtAGlance: program.program.programAtAGlance,

        degreeType: program.program.degreeType,
        school: program.program.school,
        department: program.program.department,
        careers: program.program.careers,
        programOfStudy: program.program.programOfStudy,
        lowerContent: program.program.lowerContent,
        learnMoreList: program.program.learnMoreList,
      },
    })
  );
  return paths;
}
const {
  title,
  body,
  slug,
  programAtAGlance,
  degreeType,
  school,
  department: { deptUrl, deptTitle },
  content,
  careers: { left: careersLeft, right: careersRight, body: careersBody },
  programOfStudy: {
    left: programOfStudyLeft,
    right: programOfStudyRight,
    body: programOfStudyBody,
  },
  lowerContent,
  learnMoreList,
} = Astro.props;
// console.log(typeof lowerContent);
---

<Layout title={title}>
  <main class="font-bitter text-darkgrey">
    <div class="bg-lightgrey w-auto">
      <div class="max-w-[70.5rem] m-auto">
        <a href="/">← Back to Programs</a>
        <h1
          class="mb-[500px] font-chunkfive text-tcnjyellow text-custom-16.25 leading-[4.688rem]"
        >
          {title}
        </h1>

        <div
          id="degree-school-department"
          class="flex text-lg flex-row flex-nowrap items-center justify-between"
        >
          <TopOption heading="Degree">
            <p>{degreeType} in {title}</p>
          </TopOption>
          <TopOption heading="School">
            <p set:html={school} />
          </TopOption>
          <TopOption heading="Department">
            {deptTitle}
          </TopOption>

          <!-- <div>
            <h3>School</h3>
          </div>

          <div>
            <h3></h3>
            <p>
              <a href={deptUrl}>
              </a>
            </p>
          </div> -->
        </div>
      </div>
    </div>
    <div class="bg-tcnjyellow w-auto">
      <div class="max-w-[70.5rem] m-auto">
        <div id="program-at-a-glance" class="text-center mb-[100px] p-[100px]">
          <h2
            class="text-[4.375rem] font-chunkfive leading-[5rem] text-tcnjblue"
          >
            Program at a Glance
          </h2>
          <div class="text-[1.75rem]" set:html={programAtAGlance} />
        </div>
      </div>
    </div>
    <div class="w-auto">
      <div class="max-w-[70.5rem] m-auto">
        <BodyCopy
          heading="Careers"
          left={careersLeft}
          right={careersRight}
          body={careersBody}
        />
        <BodyCopy
          heading="Programs of Study"
          left={programOfStudyLeft}
          right={programOfStudyRight}
          body={programOfStudyBody}
        />
        {lowerContent && <LowerContent lowerContent={lowerContent} />}
        {learnMoreList && <LearnMoreList learnMoreList={learnMoreList} />}
      </div>
    </div>
  </main>
</Layout>
