---
import Layout from "../layouts/Layout.astro";
import { wpquery } from "../data/wordpress";
import BodyCopy from "../components/BodyCopy.astro";
import LowerContent from "../components/LowerContent.astro";
// import LearnMoreList from "../components/LearnMoreList.astro";
import RelatedProgSlider from "../components/RelatedProgSlider";
import NextStepFooter from "../components/NextStepFooter";
import TopOption from "../components/TopOption";
import TopOptionNew from "../components/TopOptionNew.tsx";
// import ProgramCareersHeading from "../components/ProgramCareersHeading";
// import ProgramGlanceCopy from "../components/ProgramGlanceCopy";
import "../styles/inner-body-copy.scss";
import "@fontsource/domine/400.css";
import "@fontsource/domine/500.css";
import "@fontsource/domine/600.css";
import "@fontsource/domine/700.css";
import AnimatedTitle from "../components/program-page/AnimatedTitle";
import AnimatedHero from "../components/program-page/AnimatedHero";
import AnimatedBodyCopy from "../components/program-page/AnimatedBodyCopy";
import AnimatedProgramAtAGlance from "../components/program-page/AnimatedProgramAtAGlance";
import AnimatedRightImage from "../components/program-page/AnimatedRightImage";
// import TitleAndNav from "../components/TitleAndNav";
import NavigationBar from "../components/NavigationBar";
import "../styles/slug-page-styles.scss";
// import QuoteContent from "../components/QuoteContent";



export async function getStaticPaths() {
  const data = await wpquery({
    query: `query ProgramsListing {
  programs(first:120) {
    nodes {
      program {
        fullProgramTitle
        degreeType
        repeaterDegrees{
          degreeName
        }
        slug
        school
        acceleratedSubtitle
        programAtAGlance
        heroImgDesktop {
          sourceUrl
        }
        heroImgDesktopWebp{
          sourceUrl
        }
        horizontalPositionDesktopHero
        horizontalPositionTablet
        horizontalPositionMobile
        heroImgTablet{
          sourceUrl
        }
        heroImgTabletWebp{
          sourceUrl
        }
        heroImgMobile{
          sourceUrl
        }
    heroImgMobileWebp{
          sourceUrl
        }
        badge{
          sourceUrl
        }
        departmentRepeater {
          deptTitle
          deptUrl
        }
        careersTitle
        careers {
          left
          right
          body
        }
        programOfStudy {
          left
          rightImage {
            sourceUrl
          }
          rightImageHorizontalPosition
          rightImageVerticalPosition
          body
        }
        lowerContent {
          title
          body
        }
        quoteContentArea
        learnMoreList {
          title
          slug
          schoolOrAdditionalLabel
        }
        metaTitle
        metaDescription
        socialImage{
          sourceUrl
        }
      }
      title
    }
  }
}`,
  });
  // console.log(data.programs.nodes[0].program.heroImgDesktop.sourceUrl);
  const paths = data.programs.nodes.map(
    (program: {
      program: {
        title: string;
        programAtAGlance: string;
        degreeType: string[];
        repeaterDegrees: string[];
        school: string;
        acceleratedSubtitle:string[];
        departmentRepeater: string[];
        heroImgDesktop: string;
        heroImgDesktopWebp: string;
        horizontalPositionDesktopHero: number;
          horizontalPositionTablet: number;
        horizontalPositionMobile: number;
        heroImgTablet: string;
        heroImgTabletWebp: string;
        heroImgMobile: string;
        heroImgMobileWebp: string;
        badge: string[];
        careersTitle: string;
        careers: string;
        programOfStudy: string;
        quoteContentArea: string;
        lowerContent: [];
        learnMoreList: [];
        slug: string;
            metaTitle:string;
        metaDescription:string;
        socialImage:[];
      };
      title: string;
    }) => ({
      params: { slug: program.program.slug },
      props: {
        slug: program.program.slug,
        title: program.title,
        programAtAGlance: program.program.programAtAGlance,
        horizontalPositionDesktopHero:
          program.program.horizontalPositionDesktopHero,
        horizontalPositionTablet:
          program.program.horizontalPositionTablet,
        horizontalPositionMobile:
          program.program.horizontalPositionMobile,
        degreeType: program.program.degreeType,
        repeaterDegrees: program.program.repeaterDegrees,
        school: program.program.school,
        acceleratedSubtitle: program.program.acceleratedSubtitle,
        department: program.program.departmentRepeater,
        heroImgDesktop: program.program.heroImgDesktop,
        heroImgDesktopWebp: program.program.heroImgDesktopWebp,
        heroImgTablet: program.program.heroImgTablet,
        heroImgTabletWebp: program.program.heroImgTabletWebp,
        heroImgMobile: program.program.heroImgMobile,
        heroImgMobileWebp: program.program.heroImgMobileWebp,
        badge: program.program.badge,
        careersTitle: program.program.careersTitle,
        careers: program.program.careers,
        programOfStudy: program.program.programOfStudy,
        lowerContent: program.program.lowerContent,
        quoteContentArea: program.program.quoteContentArea,
        learnMoreList: program.program.learnMoreList,
              metaTitle:program.program.metaTitle,
        metaDescription:program.program.metaDescription,
        socialImage:program.program.socialImage,
      },
    })
  );
  return paths;
}
// const {
//   title,
//   body,
//   slug,
//   programAtAGlance,
//   degreeType,
//   school,
//   department: { deptUrl, deptTitle },
//   // heroImgDesktop: { sourceUrl },
//   // heroImgDesktop: { sourceUrl } = {
//   //   sourceUrl:
//   //     "https://ceva6.tcnj.edu/wp-content/uploads/sites/9/2024/02/anthro-hero-scaled.jpg",
//   // },
//   heroImgDesktop,

//   content,
//   careers: { left: careersLeft, right: careersRight, body: careersBody },
//   programOfStudy: {
//     left: programOfStudyLeft,
//     // rightImage: { sourceUrl: programOfStudyRight },
//     rightImage: { sourceUrl: programOfStudyRight } = {
//       sourceUrl:
//         "https://ceva6.tcnj.edu/wp-content/uploads/sites/9/2024/02/anthro-body-image.jpg",
//     },
//     body: programOfStudyBody,
//   },

//   lowerContent,
//   learnMoreList,
// } = Astro.props;

// Define an interface for your props
interface AstroProps {
  title: string;
  body: string;
  slug: string;
  programAtAGlance: string;
  degreeType: string[]; // Assuming degreeType is an array of strings
  repeaterDegrees: {degreeName:string}[];
  school: string[];
  acceleratedSubtitle: string[];
  department: { deptUrl: string; deptTitle: string }[];
  horizontalPositionDesktopHero: number;
  horizontalPositionTablet: number;
        horizontalPositionMobile: number;
  heroImgDesktop: {
    sourceUrl: string;
  };
  heroImgDesktopWebp: {
    sourceUrl: string;
  };
  heroImgTablet: {
    sourceUrl: string;
  };
  heroImgTabletWebp: {
    sourceUrl: string;
  };
  heroImgMobile: {
    sourceUrl: string;
  };
  heroImgMobileWebp: {
    sourceUrl: string;
  };
  badge: {
    sourceUrl: string;
  };
  content: string;
  careersTitle: string;
  careers: {
    left: string;
    right: string;
    body: string;
  };
  programOfStudy: {
    left: string;
    rightImage?: {
      sourceUrl: string;
    };
    rightImageHorizontalPosition: number;
    rightImageVerticalPosition: number;
    body: string;
  };
  lowerContent: any;
  quoteContentArea: string;
  learnMoreList: string;
      metaTitle:string;
        metaDescription:string;
        socialImage:{
          sourceUrl:string;
        }
}

// Destructure with the defined interface
const {
  title,
  // body,
  slug,
  programAtAGlance,
  // degreeType,
  repeaterDegrees,
  school,
  acceleratedSubtitle,
  department,
  heroImgDesktop,
  heroImgDesktopWebp,
  horizontalPositionDesktopHero,
  horizontalPositionTablet,
        horizontalPositionMobile,
  heroImgTablet,
  heroImgTabletWebp,
  heroImgMobile,
  heroImgMobileWebp,
  badge,
  // content,
  careersTitle,
  careers: { left: careersLeft, right: careersRight, body: careersBody },
 programOfStudy: {
  left: programOfStudyLeft,
  rightImage,  // Get the rightImage object without destructuring
  rightImageHorizontalPosition,
  rightImageVerticalPosition,
  body: programOfStudyBody,
},
  lowerContent,
  quoteContentArea,
  learnMoreList,
  metaTitle,
metaDescription,
    socialImage,
} = Astro.props as AstroProps; // Add the type assertion here
// console.log(heroImgMobileWebp)
const programOfStudyRight = rightImage?.sourceUrl ?? "";
const socialSourceUrl = socialImage && socialImage.sourceUrl ? socialImage.sourceUrl : (typeof heroImgDesktop === 'string' ? heroImgDesktop : heroImgDesktop.sourceUrl);
const { sourceUrl } = heroImgDesktop ?? {
  sourceUrl: "",
};

// console.log(slug)
---

<Layout title={metaTitle} description={metaDescription} image={socialSourceUrl} metaTitle={metaTitle}>
      <!-- <TitleAndNav /> -->
<NavigationBar careerCheck={careersBody} additionalInfoCheck={lowerContent} teachingCareerCheck={careersTitle} client:load/>
  <main class="font-domine text-darkgrey overflow-hidden">
    <article>
      <section class="bg-tcnjyellow w-auto">
        <div
          class="pl-[35px]
        pr-[35px]


        lg:max-w-[70.5rem]
        md:max-w-[990px]
        pt-[31px]
        sm:pt-[47px]
        md:pt-[56px]
        m-auto
        lg:pl-0
        lg:pr-0"
        >
          <p
            class="text-[17px] leading-[26px] pb-[18px] font-domine
            sm:pb-[30px] 
          sm:text-[17px] 
          sm:leading-[19px]
          sm:px-[45px] 
          md:text-[18px] 
          md:leading-[21px]
          md:pb-[25px] 
          md:px-0
          lg:pb-[26px] 
          lg:text-[18px]
                  lg:leading-[21px]
          "
          >
            <a href="https://tcnj.edu" class="yellow-bg-text">TCNJ Home</a> / <a href="/" class="yellow-bg-text">Explore Programs</a> / <span
              class="font-bold"
            >
              {title}
            </span>
          </p>
          <!-- <h1
            class="font-chunkfive
            text-tcnjblue
            text-[45px]
            leading-[50px]
            sm:text-[60px]
            sm:leading-[60px]
          
            md:text-custom-16.25
            md:leading-[4.688rem]"
          >
            {title}
          </h1> -->
          <AnimatedTitle title={title} subtitle={acceleratedSubtitle} client:load />
        </div>
        <div
          class=`w-auto bg-tcnjyellow md:bg-yellowWhiteGradientMd lg:bg-yellowWhiteGradientLg
        ${acceleratedSubtitle ? "mt-[35px] sm:mt-[39px] md:mt-[55px]" : "mt-[42px] sm:mt-[40px] md:mt-[50px] "}`
        >
          {
            sourceUrl && (
              <>
            
                <AnimatedHero
                  heroImgMobileWebp={heroImgMobileWebp}
                  heroImgMobile={heroImgMobile}
                  heroImgTabletWebp={heroImgTabletWebp}
                  heroImgTablet={heroImgTablet}
                  heroImgDesktopWebp={heroImgDesktopWebp}
                  sourceUrl={sourceUrl}
                  horizontalPositionDesktopHero={horizontalPositionDesktopHero}
                  horizontalPositionTablet={horizontalPositionTablet}
                  horizontalPositionMobile={horizontalPositionMobile}
                  title={title}
                  badge={badge}
                  client:load
                />
              </>
            )
          }
        </section>
      </section>
      <section
        class="bg-white
      w-auto
      pt-[45px]
      pb-[43px]
      sm:pt-[35px]
      sm:pb-[35px]
      pl-[35px]
      pr-[35px]
      md:pt-[50px]
      md:pb-[50px]"
      >
        <div class="lg:max-w-[70.5rem] md:max-w-[920px]  bg-white m-auto">
          <div
            id="degree-school-department"
            class="flex
            
            items-start
            flex-col
            gap-[31px]
            sm:gap-[35px]
            sm:max-w-[685px]
            sm:m-auto
            sm:flex-row
            sm:flex-nowrap
          
            sm:justify-between
            md:max-w-none"
          >
            <!-- <TopOption heading={degreeType && degreeType.length > 1 ? 'Degrees' : 'Degree'} imgSrc="ribbon">
              {
                Array.isArray(degreeType)
                  ? degreeType.map((degree: string) => (
                      <span class="block">{degree}</span>
                    ))
                  : { degreeType }
              }
            </TopOption> -->
            <TopOption heading={repeaterDegrees && repeaterDegrees.length > 1 ? 'Degrees' : 'Degree'} imgSrc="ribbon">
              {
                Array.isArray(repeaterDegrees)
                  ? repeaterDegrees.map((degree, index) => (
                      <span class={`block ${index >= 1 ? "mt-[4px] lg:mt-[6px]" : ""}`}>{degree.degreeName}</span>
                    ))
                  : null
              }
            </TopOption>
            <!-- <TopOption school={school} heading={school && school.length > 1 ? 'Schools' : 'School'} imgSrc="building">
              {school}
            </TopOption> -->
            <TopOptionNew client:load school={school} heading={school && school.length > 1 ? 'Schools' : 'School'} imgSrc="building" 
              techEdMarginCheck={slug === 'technology-engineering-education' ? true : false}>
              {school}
            </TopOptionNew>
            <!-- <TopOptionNew client:load department={department} heading={department && department.length > 1 ? 'Departments' : "Department"} imgSrc="departments">
              {school}
            </TopOptionNew> -->
            <TopOption client:load  heading={department && department.length > 1 ? 'Departments' : "Department"} department={department} imgSrc="departments">
              <!-- {deptTitle}
              -->
              <!-- {
                Array.isArray(department)
                  ? department.map((degree) => 
                      degree.deptTitle === 'Any' || degree.deptTitle === 'any' ? (
                        <a class="text-[#33739F] underline">Any Department</a>
                      ) : (
                        <a class="text-[#33739F] underline" href={degree.deptUrl}>
                          <span class="block">{degree.deptTitle}</span>
                        </a>
                      )
                    )
                  : department
                } -->
            </TopOption>
          </div>
        </div>
      </section>
      <section
        class="bg-tcnjyellow w-auto
      pl-[35px]
      pr-[35px]
      sm:pl-[80px]
      sm:pr-[80px]
      md:pl-[35px]
      md:pr-[35px]"
      >
        <section class="lg:max-w-[70.5rem] md:max-w-[920px]  m-auto">
        
              <AnimatedProgramAtAGlance programAtAGlance={programAtAGlance} programImageCheck={programOfStudyRight} client:idle>

        </div>
      </section>
      <section
        id="programs-of-study-container"
        class="px-[35px] w-auto sm:bg-tcnjyellow  
      "
      >
        <div
          class="m-auto
        bg-white
        relative
        pb-[71px]
        sm:pb-[93px]
        sm:px-[45px]
        lg:pb-[105px]
        "
        >
          {
    programOfStudyRight && programOfStudyRight !== null && (
            <AnimatedRightImage programOfStudyRight={programOfStudyRight}
  rightImageHorizontalPosition={rightImageHorizontalPosition} imageAlt={title}
  rightImageVerticalPosition={rightImageVerticalPosition} client:idle/>
            )
          }
          {  !programOfStudyRight && (
          <div id="no-photo-spacer" class="h-[75px] sm:h-[70px] md:h-[0]"></div>
  )}
          <div
            class=`lg:max-w-[70.5rem] md:max-w-[920px] 
          m-auto
          bg-white
          pt-[0px]
          
          ${(careersLeft || careersRight || careersBody) ? "pb-[0] sm:pb-[3px] md:pb-[50px] lg:pb-[40px]" : ""}
          ${programOfStudyRight ? "sm:pt-[20px] md:pt-[119px] lg:pt-[144px]" : "md:pt-[119px] lg:pt-[144px]"}
          `
          >
            <BodyCopy
              left={programOfStudyLeft}
              body={programOfStudyBody}
              right={programOfStudyRight}
            />
          </div>
        </div>
        <!-- <p>NO ACCORDION HERE</p> -->
      </section>

      {(careersLeft || careersRight || careersBody) && (
      <section class="px-[35px] m-auto bg-tcnjyellow" id="careers-intro">
        <div
          class="lg:max-w-[70.5rem] md:max-w-[920px]  m-auto
        pt-[91px] sm:pt-[103px]
  md:pt-[135px] lg:pt-[187px]"
        >
          <!-- <BodyCopy
            heading="Careers"
            left={careersLeft}
            right={careersRight}
            body={careersBody}
          /> -->
          <AnimatedBodyCopy
            heading={careersTitle ? careersTitle : "Careers"}
            left={careersLeft}
            right={careersRight}
            body={careersBody}
            client:idle/>
            
        </div>
      </section>
    )}
      <section
        class=" px-[0] sm:px-[35px] w-auto sm:bg-tcnjyellow"
        id="lower-content-and-related-progras"
      >
        <div class="m-auto bg-white pb-[75px] sm:pb-[75px] md:pb-[150px]">
          <div class="lg:max-w-[70.5rem] md:max-w-[920px]  m-auto">

            {lowerContent && <LowerContent lowerContent={lowerContent} quote={quoteContentArea} careerContent={careersBody}/>}
            <!-- {learnMoreList && <LearnMoreList learnMoreList={learnMoreList} />} -->
            {!lowerContent && (      <div class="
            h-[0px]
            mt-[-7px]
            md:mt-[0px]
            md:h-[46px]
            lg:h-[33px]
            "></div>
  )}
            </div>
                    <div class="lg:max-w-[70.5rem] lg:m-auto">

            {
              learnMoreList && (
                <RelatedProgSlider learnMoreList={learnMoreList} client:idle />
              )
            }
            </div>
          </div>
      </section>
    </article>
  </main>
  <footer role="term">

    <NextStepFooter customCtaButtons={null}/>
  </footer>
</Layout>
