---
import Layout from "../layouts/Layout.astro";
import { wpquery } from "../data/wordpress";
import BodyCopy from "../components/BodyCopy.astro";
import LowerContent from "../components/LowerContent.astro";
import LearnMoreList from "../components/LearnMoreList.astro";
import TopOption from "../components/TopOption.astro";
import ProgramCareersHeading from "../components/ProgramCareersHeading";
import ProgramGlanceCopy from "../components/ProgramGlanceCopy";
import "../styles/inner-body-copy.scss";

export async function getStaticPaths() {
  const data = await wpquery({
    query: `query ProgramsListing {
  programs {
    nodes {
      program {
        fullProgramTitle
        degreeType
        slug
        school
        programOptions
        additionalOptions
        programAtAGlance
        heroImgDesktop {
          sourceUrl
        }
        department {
          deptTitle
          deptUrl
        }
        careers {
          left
          right
          body
        }
        programOfStudy {
          left
          rightImage {
            sourceUrl
          }
          body
        }
        lowerContent {
          title
          body
        }
        learnMoreList {
          title
          slug
        }
      }
      title
    }
  }
}`,
  });
  // console.log(data.programs.nodes[0].program.heroImgDesktop.sourceUrl);
  const paths = data.programs.nodes.map(
    (program: {
      program: {
        title: string;
        programAtAGlance: string;
        degreeType: string;
        school: string;
        department: string;
        heroImgDesktop: string;
        careers: string;
        programOfStudy: string;
        lowerContent: [];
        learnMoreList: [];
        slug: string;
      };
      title: string;
    }) => ({
      params: { slug: program.program.slug },
      props: {
        slug: program.program.slug,
        title: program.title,
        programAtAGlance: program.program.programAtAGlance,

        degreeType: program.program.degreeType,
        school: program.program.school,
        department: program.program.department,
        heroImgDesktop: program.program.heroImgDesktop,
        careers: program.program.careers,
        programOfStudy: program.program.programOfStudy,
        lowerContent: program.program.lowerContent,
        learnMoreList: program.program.learnMoreList,
      },
    })
  );
  return paths;
}
const {
  title,
  body,
  slug,
  programAtAGlance,
  degreeType,
  school,
  department: { deptUrl, deptTitle },
  heroImgDesktop: { sourceUrl },
  content,
  careers: { left: careersLeft, right: careersRight, body: careersBody },
  programOfStudy: {
    left: programOfStudyLeft,
    rightImage: { sourceUrl: programOfStudyRight },
    body: programOfStudyBody,
  },
  lowerContent,
  learnMoreList,
} = Astro.props;
// console.log(typeof lowerContent);
---

<Layout title={title}>
  <main class="font-bitter text-darkgrey">
    <div class="bg-tcnjyellow w-auto">
      <div
        class="pl-[35px]
      pr-[35px]
      max-w-[70.5rem]
      pt-[60px]
      m-auto"
      >
        <a href="/">Breadcrumbs Go Here</a>
        <h1
          class="font-chunkfive
          text-tcnjblue
          text-[45px]
          leading-[50px]
          lg:text-custom-16.25
          lg:leading-[4.688rem]"
        >
          {title}
        </h1>
      </div>
      <div
        class="w-auto bg-yellowWhiteGradient
      mt-[35px]
      lg:mt-[50px]"
      >
        {
          sourceUrl && (
            <img
              src={sourceUrl}
              class="
              h-[450px]
              object-cover
              pl-[35px]
              lg:pl-[200px]
              lg:h-auto
              "
              alt={title}
            />
          )
        }
      </div>
    </div>
    <div
      class="bg-white
    w-auto
    pt-[35px]
    pb-[45px]
    sm:pb-[35px]
    pl-[35px]
    pr-[35px]
    lg:pt-[50px]
    lg:pb-[50px]"
    >
      <div class="max-w-[70.5rem] bg-white m-auto">
        <div
          id="degree-school-department"
          class="flex
          text-lg
          flex-col
          gap-[35px]
          sm:flex-row
          sm:flex-nowrap
          sm:items-center
          sm:justify-between"
        >
          <TopOption heading="Degree">
            <p class="text-[17px] leading-[23px]">{degreeType} in {title}</p>
          </TopOption>
          <TopOption heading="School">
            <p class="text-[17px] leading-[23px]" set:html={school} />
          </TopOption>
          <TopOption heading="Department">
            <p class="text-[17px] leading-[23px]">
              {deptTitle}
            </p>
          </TopOption>
        </div>
      </div>
    </div>
    <div class="bg-tcnjyellow w-auto pl-[35px]
    pr-[35px]">
      <div class="max-w-[70.5rem] m-auto">
        <div
          id="program-at-a-glance"
          class="text-left
        pb-[150px]
        pt-[100px]
        md:pb-[200px]
        md:pt-[200px]"
        >
          <ProgramCareersHeading heading="Program at a Glance" />
          <!-- <h2>Program at a Glance</h2> -->
          <ProgramGlanceCopy id="program-glance" copy={programAtAGlance} />
          <!-- <div
            class="text-[20px]
          leading-[35px]
          text-center
          sm:text-left
          md:text-[1.75rem]"
            set:html={programAtAGlance}
          /> -->
          <div
            class="flex
          flex-col
          md:flex-row
          mt-[50px]
          sm:mt-[75px]
          gap-[20px]
          sm:gap-5"
          >
            <a
              href=""
              class="border-2
              border-tcnjblue
              p-4
              pt-[40px]
              pb-[40px]
              
              sm:min-w-[300px]
              text-center
              font-opensans
              uppercase text-tcnjblue
              font-semibold
              text-base"
              >Apply</a
            >
            <a
              href=""
              class="border-2
              border-tcnjblue
              p-4
              pt-[40px]
              pb-[40px]
              lg:min-w-[300px]
              text-center
              font-opensans
              uppercase text-tcnjblue
              font-semibold
              text-base"
              >Request Info</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="px-[35px] w-auto sm:bg-tcnjyellow">
      <div class="m-auto bg-white relative">
        <img
          src={programOfStudyRight}
          alt=""
          id="prog-study-img"
          class="relative
          top-[-50px]
          sm:right-[-25px]
          object-cover
          object-left
          w-[100%]
          h-[400px]
          max-w-none
          md:h-[650px]
          md:absolute
          xl:max-w-[1280px]
          xl:h-[750px]
          xl:w-[51%]"
        />
        <div
          class="max-w-[70.5rem]
        m-auto
        bg-white
        pt-[0px]
        sm:pt-[100px]
        sm:pb-[100px]
        md:pt-[150px]
        md:pb-[150px]"
        >
          <BodyCopy
            heading="Programs of Study"
            left={programOfStudyLeft}
            body={programOfStudyBody}
          />
        </div>
      </div>
      <div class="m-auto bg-tcnjyellow">
        <div class="max-w-[70.5rem] m-auto pt-[150px]">
          <BodyCopy
            heading="Careers"
            left={careersLeft}
            right={careersRight}
            body={careersBody}
          />
        </div>
      </div>
      <div class="m-auto bg-white">
        <div class="max-w-[70.5rem] m-auto">
          {lowerContent && <LowerContent lowerContent={lowerContent} />}
          {learnMoreList && <LearnMoreList learnMoreList={learnMoreList} />}
        </div>
      </div>
    </div>
  </main>
</Layout>
