---
type Props = {
  left?: string;
  right?: string;
  body?: string;
  heading: string;
};
const { left, right, body, heading } = Astro.props;
// console.log(left);
const headingLower = heading.replace(/\s+/g, "-").toLowerCase();
---

<div id={headingLower}>
  <h2 class="text-[1.875rem] font-chunkfive text-tcnjblue">{heading}</h2>
  <div class="flex gap-[50px]">
    <div id={`${headingLower}-left`} set:html={left} />
    <div id={`${headingLower}-right`} set:html={right} />
  </div>
  {
    body && (
      <div
        class="mt-[50px] mb-[75px]"
        id={`${headingLower}-body`}
        set:html={body}
      />
    )
  }
</div>
