---
type Props = {
  left: string;
  right: string;
  body?: string;
  heading: string;
};
const { left, right, body, heading } = Astro.props;
// console.log(left);
const headingLower = heading.replace(/\s+/g, "-").toLowerCase();
---

<div id={headingLower}>
  <h2>{heading}</h2>

  <div id={`${headingLower}-left`} set:html={left} />
  <div id={`${headingLower}-right`} set:html={right} />
  {body && <div id={`${headingLower}-body`} set:html={body} />}
</div>
