---
import Accordion from "./Accordion";
import QuoteContent from "./QuoteContent";

type Props = {
  lowerContent: {
    title: string;
    body: string;
  }[];
  quote?: string;
};

const { lowerContent, quote } = Astro.props;
// console.log(quote);
---

<div
  id="additional-information"
  class="pl-[35px]
  pr-[35px]
  pt-[75px] pb-[75px]
  sm:pl-[47px]
      sm:pr-[47px]
sm:pt-[75px]
sm:pb-[125px]
md:pl-[20px]
md:pr-[20px]
md:pt-[150px]
md:pb-[150px]
lg:pl-[0px]
lg:pr-[0px]"
>
  {quote && <QuoteContent content={quote} client:load />}
  <hr class="bg-[#BFBFBF] h-[1px] w-auto border-0" />
  {
    lowerContent.map((content) => {
      return (
        <div
          class="border-b border-[#BFBFBF]"
          id={content.title.replace(/\s+/g, "-").toLowerCase()}
        >
          <Accordion
            startOpen={false}
            header={content.title}
            idName={content.title}
            client:load
          >
            <div set:html={content.body} />
          </Accordion>
        </div>
      );
    })
  }
</div>
