---
type Props = {
  heading: string;
  imgSrc: string;
  school?: string[];
};

let schoolLink: string;
// let secondSchoolLink: string;
const { heading, imgSrc, school } = Astro.props;
// console.log(school?.length);
// console.log(school);
// Check if school is an array and has at least one element
if (Array.isArray(school) && school.length > 0) {
  switch (school[0]) {
    case "Arts and Communication":
      schoolLink = "https://artscomm.tcnj.edu/";
      break;
    case "Business":
      schoolLink = "https://business.tcnj.edu/";
      break;
    case "Education":
      schoolLink = "https://education.tcnj.edu/";
      break;
    case "Engineering":
      schoolLink = "https://engineering.tcnj.edu/";
      break;
    case "Humanities and Social Sciences":
      schoolLink = "https://hss.tcnj.edu/";
      break;
    case "Nursing and Health Sciences":
      schoolLink = "https://nhs.tcnj.edu/";
      break;
    case "Science":
      schoolLink = "https://science.tcnj.edu/";
      break;
    case "Graduate, Global, and Online Education":
      schoolLink = "https://ggoe.tcnj.edu/";
      break;
    default:
      schoolLink = "https://tcnj.edu";
  }
} else {
  schoolLink = "https://tcnj.edu";
}
// if (Array.isArray(school) && school.length === 2) {
//   switch (school[1]) {
//     case "Arts and Communication":
//       secondSchoolLink = "https://artscomm.tcnj.edu/";
//       break;
//     case "Business":
//       secondSchoolLink = "https://business.tcnj.edu/";
//       break;
//     case "Education":
//       secondSchoolLink = "https://education.tcnj.edu/";
//       break;
//     case "Engineering":
//       secondSchoolLink = "https://engineering.tcnj.edu/";
//       break;
//     case "Humanities and Social Sciences":
//       secondSchoolLink = "https://hss.tcnj.edu/";
//       break;
//     case "Nursing and Health Sciences":
//       secondSchoolLink = "https://nhs.tcnj.edu/";
//       break;
//     case "Science":
//       secondSchoolLink = "https://science.tcnj.edu/";
//       break;
//     default:
//       secondSchoolLink = "https://tcnj.edu";
//   }
// } else {
//   secondSchoolLink = "https://tcnj.edu";
// }

// console.log(secondSchoolLink);
---

<div class="flex-row flex items-start gap-[18px] md:gap-[15px] sm:max-w-[33%]">
  <!-- <svg width={32} height={32} fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
    <use
      xlink:href={`https://tcnj.edu/custom/icon-library/micro/${imgSrc}.svg#${imgSrc}`}
      href={`https://tcnj.edu/custom/icon-library/micro/${imgSrc}.svg#${imgSrc}`}
    ></use>
  </svg> -->

  <img
    class="w-[26px] h-auto mt-[3px]"
    src={`https://tcnj.edu/custom/icon-library/micro/` + imgSrc + `.svg`}
    alt={`${heading} icon`}
  />
  <div class="flex-col flex md:gap-[5px]">
    <h3
      class="text-[17px] leading-[23px] md:text-[20px] md:leading-[30px]
      font-interstate not-italic uppercase font-extrabold"
    >
      {heading}
    </h3>
    <p class="text-[17px] leading-[23px] md:text-[19px] md:leading-[30px]">
      {
        heading && (school?.length ?? 0) >= 1 ? (
          school?.length === 1 ? (
            <a class="text-[#33739F] underline" href={schoolLink}>
              <slot />
            </a>
          ) : (school?.length ?? 0) < 8 ? (
            school?.map((item, index) => {
              const link = (() => {
                switch (item) {
                  case "Arts and Communication":
                    return "https://artscomm.tcnj.edu/";
                  case "Business":
                    return "https://business.tcnj.edu/";
                  case "Education":
                    return "https://education.tcnj.edu/";
                  case "Engineering":
                    return "https://engineering.tcnj.edu/";
                  case "Humanities and Social Sciences":
                    return "https://hss.tcnj.edu/";
                  case "Nursing and Health Sciences":
                    return "https://nhs.tcnj.edu/";
                  case "Science":
                    return "https://science.tcnj.edu/";
                  case "Graduate, Global, and Online Education":
                    return "https://ggoe.tcnj.edu/";
                  default:
                    return "https://tcnj.edu";
                }
              })();
              return (
                <a class="text-[#33739F] underline block" href={link}>
                  {item}
                </a>
              );
            })
          ) : (
            // THIS LINK ACTIVATES THE POPUP
            <a class="text-[#33739F] underline">Any School</a>
          )
        ) : (
          <slot />
        )
      }
      <!-- <slot /> -->
    </p>
  </div>
</div>
