---
interface Props {
  title: string;
  description?: string;
  image?: string;
  metaTitle?: string;
}

const {
  title = "160+ Undergraduate Programs | TCNJ",
  description = "Craft an education that's uniquely yours with flexible options across in-demand majors and minors — including accelerated and dual-degree programs.",
  image = "https://ceva6.tcnj.edu/wp-content/uploads/sites/9/2025/03/program-explorer-FACEBOOK.jpg",
  metaTitle,
} = Astro.props;

import "@fontsource/bitter/400.css";
import "@fontsource/bitter/500.css";
import "@fontsource/bitter/600.css";
import "@fontsource/chunk-five";
import "@fontsource/open-sans/400.css";
import "@fontsource/open-sans/500.css";
import "@fontsource/open-sans/600.css";
import "@fontsource/open-sans/700.css";
import "@fontsource/open-sans/800.css";
import "@fontsource/domine/400.css";
import "@fontsource/domine/500.css";
import "@fontsource/domine/600.css";
import "@fontsource/domine/700.css";
// import "../components/GlobalHeader";
import GlobalHeader from "../components/GlobalHeader";
import GlobalFooter from "../components/GlobalFooter.astro";
const isRootPage = Astro.url.pathname === "/";
// console.log(isRootPage)
const siteUrl = "https://programs.tcnj.edu"; // Your domain
const path = Astro.url.pathname;
const canonicalUrl = `${siteUrl}${path}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="The College of New Jersey" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />

    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta property="og:image" content={image} />
  <link rel="canonical" href={canonicalUrl} />
  <link rel="preload" href="/fonts/alfa-slab-one-v19-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/fonts/open-sans-v40-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/fonts/domine-v23-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <!-- <meta property="og:image" content={image} /> -->
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>{title}</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    /> -->
    <style>
      @import url("https://use.typekit.net/czt7cge.css");
    </style>
    <!-- Google Tag Manager -->
{import.meta.env.PROD && (
    <script>
      !(function (e, t, a, n) {
        (e[n] = e[n] || []),
          e[n].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        (e = t.getElementsByTagName(a)[0]), (n = t.createElement(a));
        (n.async = !0),
          (n.src = "https://www.googletagmanager.com/gtm.js?id=GTM-M9FHLJS"),
          e.parentNode.insertBefore(n, e);
      })(window, document, "script", "dataLayer");
    </script>
    )}
{import.meta.env.PROD && (
  <script>
    if (window.location.protocol !== "https:") {
      window.location.replace(
        "https://" +
          window.location.host +
          window.location.pathname +
          window.location.search
      );
    }
  </script>
)}

    <!-- End Google Tag Manager -->
    <!-- Ping Script -->
{import.meta.env.PROD && (

    <script async src="https://connect.tcnj.edu/ping"></script>

  )}
    <!-- End Ping Script -->
  </head>
  <body>
    <!-- {isRootPage ? <h1>Welcome to the Homepage</h1> : <h1>Not the Homepage</h1>} -->

    <GlobalHeader client:load indexCheck={isRootPage}/>
    <slot />
    <GlobalFooter/>
    <!-- Google Tag Manager (noscript) -->
{import.meta.env.PROD && (
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M9FHLJS"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
)}
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
